# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/

# Vite
.vite/

# TypeScript
*.tsbuildinfo

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Playwright
playwright-report/
test-results/
.vercel
